header {
  background-color: #e3f2f1;
  text-align: center;
}

h1 {
  color: #39a39f;
  background-color: #e3f2f1;
}

.personalinfo {
  background-color: #e3f2f1;
}

nav {
  background-color: #e3f2f1;
  text-align: center;
  font-size: 40px;
}

#picureOfMe {
  max-width: 100%;
  height: auto;
}

/* #education {
  background-color: #e3f2f1;
}

#skills {
  background-color: #e3f2f1;
}

#experience {
  background-color: #e3f2f1;
} */
