h1 {
  color: blue;
  background-color: #679ef7;
}

.personalinfo {
  background-color: #679ef7;
}

.education {
  background-color: #679ef7;
}

.skills {
  background-color: #679ef7;
}

.experience {
  background-color: #679ef7;
}
