* {
  background-color: #e3f2f1;
}

header {
  background-color: #e3f2f1;
  text-align: center;
}

h1 {
  color: #39a39f;
  background-color: #e3f2f1;
}

.personalinfo {
  background-color: #e3f2f1;
}

nav {
  background-color: #e3f2f1;
  text-align: center;
  font-size: 40px;

}



a {
  text-decoration: none;
  font-size: 30px;
  color: #39a39f;
}


a:hover {
  color: #c65c60;
}

/*I can't get a:visited to work*/

#aboutMe {
  text-align: center;
  color: #39a39f;
}

#picureOfMe {
  max-width: 100%;
  height: auto;
}
